

<div class="card-container">
<% @equipment.each do |eq| %>
  
  <div class="card">
      <div class="equipment">
        <div class="image">
            <%= link_to cl_image_tag(eq.photos.first.key), equipment_path(eq)  %>
        </div>
      <div class="info">
        <h2 class="title"><%= eq.title %></h2>
      <div class="book_now">
            <button class="button"><%= link_to 'Show me', equipment_path(eq) %></button>
    </div>
</div>
    </div>
  </div>
<% end %>
</div>

