<div class="top-space"></div>

<div class="footer-photo">
<img class="footer-img" src="https://i.imgur.com/KPYgU2N.png" alt="#">
</div>
<div class="footer">
<h3>Our Mission</h3>
<div class="mission">
We to eliminate the unnecessary waste caused by single use outdoor equipment. We want the circular economy to grow. But most of all we want you to get out there and hit the trails, waves, or walls.
<hr>
© 2020 EquipRent, Ltd
</div>
<div class="socials">
<i class="fab fa-instagram"></i>
<i class="fab fa-facebook"></i>
<i class="fab fa-twitter"></i>
</div>
</div>
