
<% provide(:nav_style, "hover-will-change") %>

<div class="top-space"></div>
<div class="main-page">
   <!--  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://www.banfflakelouise.com/sites/default/files/styles/xl_2000_12x6/public/lake-louise-canoe-wide-moment-banff-alberta.jpg?itok=z0pWRwRU);">


    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://images6.alphacoders.com/488/thumb-1920-488158.jpg);">*/

       -->
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://www.banfflakelouise.com/sites/default/files/styles/m_960_natural/public/lake-louise-canoe-water-activities.jpg?itok=a0Pdwe5g);">

    <div class="container1">

  <!--     <div class="child">
        <div class="banner-h3">
          <h1>Less time shopping. More time exploring.</h1>
        </div>
        <form>
          <div class="form-group">
            <label for="exampleFormControlInput1">Where?</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="London">
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">What?</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>Let me browse</option>
              <option>Sailing Boat</option>
              <option>Kayak</option>
              <option>Paddleboard</option>
              <option>Canoe</option>
            </select>
          </div>
          <div class="form-group">
            <label for="birthday">From when?</label>
            <input type="date" id="birthday" name="birthday">
          </div>
          <div class="form-group">
            <label for="birthday">Till when?</label>
            <input type="date" id="birthday" name="birthday">
          </div>
            <div class="search-btn">
              <button type="button" class="btn btn-primary btn-rounded"><%= link_to "Search", equipment_index_path %></button>
          </div>
        </form>
      </div> -->

<div class="mini-banner">
<div class="banner-h3">
  <h1>Less time shopping. More time exploring.</h1>
</div>
<div class="search-bar">

  <div class="equipment">
    <label for="">Equipment</label>
    <input class="searchbartext" type=""placeholder="What do you need?">
  </div>
  <div class="category">
    <label for="">Category</label>
    <select name="dropdown" id="values">
      <option class="searchbartext" value="volvo">Select</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
  </div>
  <div class="check-in">
    <label for="">Check in</label>
    <input type="date" id="datein">
  </div>
  <div class="check-out">
    <label for="">Check out</label>
    <input type="date" id="dateout">
  </div>
  <!-- <div class="search-bar-button"> -->
    <button name="button" type="submit" class="btn btn-flat regular">
      <i class="fas fa-search"></i> Search
    </button>
  <!-- </div> -->
</div>
</div>

<!--
<form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="search[query]" id="search_query" />
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i> Search
    </button>
  </div>
  <div class="form-group">
    <label for="birthday">Till when?</label>
    <input type="date" id="birthday" name="birthday">
  </div>
</form>
 -->
    </div>
  </div>



  <div class="spacer">

    <h1>TOP BRANDS</h1>
    <ul>
      <li>
        <img src="https://www.cotswoldoutdoor.com/content/dam/uk/brands/1747.png" class="logo-img">
      </li>
      <li>
        <img img src="https://cdn.worldvectorlogo.com/logos/the-north-face-1.svg" class="logo-img">
      </li>
      <li>
        <img img src="https://cdn.worldvectorlogo.com/logos/arc-teryx.svg" class="logo-img">
      </li>
      <li>
        <img img src="https://cdn.worldvectorlogo.com/logos/patagonia.svg" class="logo-img">
      </li>
      <li>
        <img img src="https://www.cotswoldoutdoor.com/content/dam/uk/brands/1836.png" class="logo-img">
      </li>
    </ul>
    <h2>Find the kit to fuel your adventures.</h2>

  </div>
</div>
