.banner {
    background-size: 100%;
    background-position: center;
    padding: 150px 0;
    height: 700px;
    width: 100% ;
    left: 0%;
}

  .banner h1 {
    margin: 0;
    color: black;
    font-size: 36px;
    font-weight: bold;
  }
  
  .banner p {
    font-size: 20px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

  .child {
    height: 460px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    width: 450px;
    background-color: #f5f1ed;  
    color: black;
    flex-direction: column;  
    border-radius: 8px;
    margin-left: 100px;
  }

  .search-btn {
      text-align: right;
      text-decoration: none;
      color: white;
  }



