.card-container {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 padding-top: 100px;

}
.card {
    // background-color: white;
    height: 244.88px;
    width: 253.33px;
    // padding: 0px;
    border-radius: 8px !important;
    align-items: center;
    margin: 20px;
    line-height: 2px;
    font-family: inherit;
    font-size: 100%;
}
.review_number{
    color: grey;
}

.image img {
    height: 168.88px;
    width: 253.33px;
    border-radius: 8px;
    object-fit: cover;
    // top: 0px !important;
    // left: 0px !important;
    // z-index: 1 !important;
}
.fa-star {
    color: orange;
}

.title {
    padding-top: 4px;
    text-align: left;
    font-weight: bold;
    // font-size: 0.875em;
}

.card_description{
    text-align: left;
    // font-size: 0.825em;
}
.card_price{
    text-align: right;
    color: green;
    font-weight: bold;
    font-size: large;
    // font-size: 0.875em;
}

.info {
    padding: 5px;  
}

.button {

}

.form-container {
    height: 1000px;
}


.review {
    color:grey;
}