.card-container {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 padding-top: 100px;

}
.card {
    // background-color: white;
    height: 244.88px;
    width: 253.33px;
    // padding: 0px;
    border-radius: 8px !important;
    // align-items: center;
    margin: 20px;
    font-family: inherit;
    font-size: 100%;
}
.review_number{
    color: grey;
}

.card-image img {
    height: 168.88px;
    width: 253.33px;
    object-fit: cover;
    // top: 0px !important;
    // left: 0px !important;
    // z-index: 1 !important;
    border-radius: 8px 8px 0px 0px;

}
.fa-star {
    color: orange;
}

.title {
    padding-top: 4px;
    text-align: left;
    font-weight: bold;
    // font-size: 0.875em;
}

.card_description{
    text-align: left;
    // font-size: 0.825em;
}
.card_price{
    background-color: white;
    text-align: right;
    color: #4e5f6c;
    font-weight: bold;
    font-size: large;
    position: absolute;
    right: -2px;
    top: 0px;
    width: auto;
    height: 26px;
    border-radius: 0px 8px 0px 8px;
}

.info {
    padding: 5px;  
}

.button {

}

.form-container {
    height: 1000px;
}


.card-trip .card-trip-infos {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
  }
  
 