.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color:#abb5b5;
    text-align: center;
    height: auto;
    background-color: black;
    margin-bottom: -100px;
  }

  .footer-photo {
    overflow:hidden
  }

  .mission {
    width: 400px;
    text-align: center;
    margin: auto;
  }

  .socials {
    padding: 25px;
    font-size: 25px;
    padding-bottom: 50px;
  }

.footer-img {
  width:100%
}