#test {
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  position: fixed;
  width: 100%;
  color: white;
  align-items: self-start;
  padding-top: 30px;
  height: 100px;
  background-color: white;
  z-index: 9999;
  position: fixed;
  top: 0;
  }

#cf img {
  position: absolute;
  height: 60px;
  transition: opacity 1s ease;
}

.navbar-logo {
  height: 60px;
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
  align-items: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.btn {
  border-color: black !important;
  margin: 8px;
  background-color: transparent !important;
  color: black !important;
}

a {
  color: black !important;
  text-decoration: none !important;
}

.dropdown-toggle {
  display: none;
}

.links-navbar {
  display: flex;
  font-size: 14px;
  align-items: center;
  & a {
    margin-right: 20px;
  }
}
