.container {
  display: flex; 
  justify-content: center;
  margin-top: 100px;
}


.card1 {
  background-color: transparent;
  height: 600px;
  padding-top: 130px;
  width: 50%;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 10px;

}


.card2 {
  background-color: transparent;
  height: 600px;
  padding-top: 130px;
  width: 50%;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 10px;

}

.photosbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px;
}






.card-product {
  overflow: hidden;
  height: 500px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;

}

.photo img {
  height: 100%;
  object-fit: cover;
}

.card-product h2 {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 26px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}