.mini-banner h1 {
  margin: 0;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 15px;
}

.banner-h3 {
  margin-left: 10%;
}

.search-bar {
  display: flex;
  background: white;
  width: 80%;
  height: 64px;
  margin: auto;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.28) 0px 8px 28px;
  justify-content: space-around;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
}

.equipment {
  display: flex;
  width: 30%;
  background: rgb(255, 255, 255);
  height: 40px;
  font-size: 11px;
  font-weight: 700;
  flex-direction: column;
  input {
    border: none;
    color: #4e5f6c;
    padding: 0px;
  }
  label {
    background-color: transparent;
    color: #4e5f6c;
    margin-bottom: 3px !important;
  }
}
.searchbartext::-webkit-input-placeholder {
  color: red;
  opacity: 1; /* Firefox */
}

.searchbartext::-webkit-input-placeholder {
  color: #4E5F6C;
  opacity: 1;
}

.category {
  display: flex;
  width: 20%;
  background: rgb(255, 255, 255);
  height: 40px;
  font-size: 11px;
  font-weight: 700;
  flex-direction: column;
  #values {
    height: 23px;
    border: none;
    color: #4e5f6c;
    margin-left: -3px;
  }
  label {
    background-color: transparent;
    color: #4e5f6c;
    margin-bottom: 0px!important;
  }
}

.check-in {
  display: flex;
  width: 16%;
  background: rgb(255, 255, 255);
  height: 40px;
  font-size: 11px;
  font-weight: 700;
  flex-direction: column;
  input {
    border: none;
  }
  label {
    margin-bottom: 3px !important;
    background-color: transparent;
    color: #4e5f6c;
  }
}

.check-out {
  display: flex;
  width: 16%;
  background: rgb(255, 255, 255);
  height: 40px;
  font-size: 11px;
  font-weight: 700;
  flex-direction: column;
  input {
    border: none;
    color: #4e5f6c;
  }
  label {
    margin-bottom: 3px !important;
    background-color: transparent;
    color: #4e5f6c;
  }
}

.regular {
  width: 12%;
  background: rgb(255, 255, 255);
  height: 32px;
  padding: 0 !important;
  font-weight: 700;
}

.check-in input {
  color: #4e5f6c;
}

.check-out input {
  border: #4e5f6c;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
  color: #4e5f6c!important;
}

#vertical {
  background-color:#C80000;
  color:#C80000;
  -webkit-transform:rotate(90deg);
  position:absolute;
  width:100px;
  height:2px;
  left:130px;
  border:2px;
}

#searchbtn {
  border: none;
  transition: 0.3s;
}

#searchbtn:hover {
  background: #4E5F6C!important;
  color: white!important;
}
