.card-category {
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    flex-direction: column;
    font-size: 30px;

  }

  .card-product {
    overflow: hidden;
    height: 500px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;

  }
  
  .card-product img {
    height: 100%;
    
    object-fit: cover;
  }
  
  .card-product h2 {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
  }
  
  .card-product p {
    font-size: 30x !important;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }
  
  .card-product .card-product-infos {
    padding: 24px;
  }