.simple_form {
    padding-top: 24px;
    height: 500px;
<<<<<<< HEAD
    padding-left: 10%;
    margin-bottom: 50px;
    text-align: center;
    margin: auto;
=======
    padding-left: 20px;
    padding-top: 50px;
    margin-bottom: 20px;
}

a   {
    // padding-left: 10%;
>>>>>>> 0da32bcc8567948e6df58db53edc0f73bb2d8b27
}
